   .body {
    cursor : pointer;
   }
   .thumbnail {
    width:100%;
    margin-bottom: 8px;
  } 
  .photo{
   position : relative;
  }
   .talk{ 
    font-size: 14px;
     font-family: Roboto;
     font-weight: 500;
   }
       .youtube{
      
        width: 100%;

       }
       .absolute{
         position : absolute;
         background-color: black;
         color:white;
         right : 5px;
         bottom : 20px;
         font-family: Roboto , Arial;
         font-size: 12px;
         font-weight: 500;
         padding-left: 4px;
         padding-bottom: 4px;
         padding-right: 4px;
         padding-top: 4px;
         border-radius: 2px;
       }
      .channel{
       
       margin-top: 10px;
        width: 36px;
        border-radius: 50px;
      }
     .name{
        color: rgb(96, 96, 96);
        font-family: Roboto;
        font-size: 12px;
        margin-bottom: 0px;
        margin-top: 12px;
     }
     .views{
        margin-top: 5px;
        color: rgb(96, 96, 96);
        font-family: Roboto;
        font-size: 12px;
        
     }
     .s{
        display:grid;
        grid-template-columns: 50px 1fr;
     }
     .total_grid{
        display : grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
        column-gap: 8px;
        row-gap : 22px;      
     }
     @media (max-width: 900px) {
  .total_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
      @media (max-width: 600px) {
    .total_grid {
      grid-template-columns: 1fr 1fr;
    }
  }