.header{
   display:flex;
   flex-direction:row;
   justify-content:space-between;
   height:55px;
   align-items:center;
  margin-bottom: 10px;
   position : fixed;
   top:0px;
   right:0px;
   left:0px;
   z-index: 1;
   background-color: white;
   border-bottom-width:1px;
   border-bottom-color:rgb(223, 217, 217);
   border-bottom-style: solid;
}
.middle-section{
   
        flex:1;
        max-width: 450px;
        flex-shrink: 0px;
        display:flex;
        align-items:center;
}
.n{
   position: relative;
}
.number{
   background-color: rgb(200, 0, 0);
   font-family: Roboto,Arial;
   position : absolute;
  
  text-align: center;
  
   right:-7px;
   border-radius: 10px;
   padding-left: 5px;
   padding-right: 5px;
   top: -3px;
   font-size: 11px;
   padding-bottom: 1px;
   padding-top: 1px;
   color : white;
   border-color: white;
  border-style: solid;
  border-width: 2px;
}
.input{
  border-width: 1px;
   border-color: grey;
   height:36px;
   flex:1;
 padding-left: 12px;
 font-size: 16px;
 width:0px;
   box-shadow: inset 1px 2px 3px rgba(0 ,0,0, 0.05);
}
.input::placeholder{
   font-style: roboto , Arial;
   font-size:16px;

}
.search-icon{
   height:39px;
   width:70px;
   margin-right: 15px;
   margin-left: -1px;
    display:flex;
   justify-content: center;
   align-items: center;

}
.search{
   height:25px;
}
.last-section{
   display:flex;
   align-items: center;
   justify-content: space-evenly;
   width:230px;
  flex-shrink:0px;
}
.speak{
   height:40px;
   width:40px;
   border-radius:50px;
   border:none;
}
.upload{
   height:25px;
   width:25px;
}
.ai{
   height:25px;
   width:25px;
   
}
.note{
   height:25px;
   width:25px;
}
.butter{
   width:25px;
   height:25px;
   border-radius: 50px;
   
}
.search ,
.speak ,
.ui,
.ai,
.si,
.n,
.bi{
   display:flex;
   justify-content: center;
   align-items: center;
   position:relative;
}
.st {
   position : absolute;
   font-family: Roboto , Arial;
   background-color: grey;
   color:white;
   border-radius:2px;
   bottom:-30px;
   font-size: 14px;
   padding-left:8px;
   padding-right:8px;
   padding-top:4px;
   padding-bottom:4px;
   opacity:0;
   transition : 0.5s;
   pointer-events:none;
   white-space: nowrap;
}
.search-icon:hover .st ,
.n:hover .st,
.si:hover .st,
.ai:hover .st ,
.ui:hover .st,
.speak:hover .st,
.bi:hover .st {
   opacity: 1;
   cursor:pointer;
}