.sidebar{
   position : fixed;
   left :0;
   bottom : 0;
   top:55px;
   background-color: white;
   width: 72px;
   cursor : pointer;
   z-index:2;
}
.sideparts {
     display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    height:74px;
}
.sideparts:hover {
    background-color: #f2f2f2;
}
.sideparts img {
    height : 24px;
    margin-bottom: 4px;
}

.sideparts div {
    font-family: Roboto , arial;
    font-size: 10px;
}